@charset "UTF-8";

body {
    background-color: #7EF7EF;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:#5eec6a;
}

h1#principal {
    text-align: center;
    background-color:#5ea4b6;
    color: white;
}

h2 {
    color: #6cc0a2;
}

.basico {
    color: #6cc0a2;
}

.intermediario {
    color: #bfc06c;
}

.avancado {
    color: #c06c6c;
}

.destaque {
    background-color: rgba(121, 121, 69, 0.712);
}